.inner-col {
  padding: 25px;
  border: 3px solid #b0b0b0;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}
.nav{
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
a.list-group-item:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: pointer;
}
